<footer class="footer-bg py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="logo mb-4">
          <img src="./assets/logo.png" alt="logo">
        </div>
        <div class="social mt-5">
          <ul class="navbar-nav d-flex flex-row gap-4">
            <li class="bg"><a class="text-white" href="#"><i class="fa-brands fa-facebook-f fa-xl"></i></a></li>
            <li class="bg"><a class="text-white" href="#"><i class="fa-brands fa-twitter fa-xl"></i></a></li>
            <li class="bg"><a class="text-white" href="#"><i class="fa-brands fa-youtube fa-xl"></i></a></li>
            <li class="bg"><a class="text-white" href="#"><i class="fa-brands fa-instagram fa-xl"></i></a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <h4>Useful Links</h4>
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="#">About</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Privacy Policy</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6">
        <h3 class="h4">Quick Links</h3>
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" routerLink="/movie">Movies</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/tv">Tv Shows</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/watchlist">Watch List</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/hollywood-stars">Hollywood Stars</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6">
        <h4>Join Our Newsletter</h4>
        <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>

        <div class="subscribe d-flex gap-2 mb-4">
          <input type="text" class="form-control" placeholder="Enter your email">
          <button class="btn btn-main text-white">Subscribe</button>
        </div>

        <div class="copy">
          <p>© Copyright Fox Movies. All Rights Reserved
            <br>Designed & Code by: <a class="text-main" href="https://www.linkedin.com/in/mohamed-elyamani-131091142/"
              target="_blank">
              Mohamed Elyamani</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>