<section class="p-4 text-white">
  <div class="container">
    <div class="row">
      <div class="title my-4">
        <h2>Search Results for "{{query}}"</h2>
        <div class="line w-100 mb-3"></div>
      </div>
      @for(item of results; track $index){
      <div class="col-md-3 mb-4">
        <div class="card-item">
          <img
            [src]="item.poster_path || item.backdrop_path ? imgPath + (item.poster_path || item.backdrop_path) : 'assets/default.jpg'"
            class="w-100" [alt]="item.original_title || item.original_name">

          <div class="card-details">
            <span class="vote">{{item.vote_average.toFixed(1)}}</span>
            <div class="icons d-flex flex-column">
              <span class="fa fa-heart" [ngClass]="{'text-danger': isFavorite(item)}"
                (click)="addToWatchList(item)"></span>
              <span class="fa fa-eye mt-5" (click)="goToDetails(item.id)"></span>
            </div>
            <div class="movie-title">{{item.original_title || item.original_name}}</div>
          </div>
        </div>
      </div>
      }

      <!-- No results message -->
      @if (results.length === 0) {
      <div class="col-12 text-center py-5">
        <p>No results found for "{{query}}"</p>
      </div>
      }
    </div>
  </div>
</section>