<section class="p-4 text-white">
  <div class="container">
    <div class="row">
      <div class="title my-4">
        <h2>{{category.toUpperCase()}}</h2>
        <div class="line w-100 mb-3"></div>
      </div>
      @for(media of results; track $index){
      <div class="col-md-3 mb-4">
        <div class="card-item">
          <img
            [src]="media.poster_path || media.backdrop_path ? imgPath + (media.poster_path || media.backdrop_path) : 'assets/default.jpg'"
            class="w-100 " [alt]="media.original_title || media.original_name">

          <div class="card-details">
            <span class="vote">{{media.vote_average ? media.vote_average.toFixed(1) : '0.0'}}</span>
            <div class="icons d-flex flex-column">
              <span class="fa fa-heart" [ngClass]="{'text-danger': isFavorite(media)}"
                (click)="addToWatchList(media)"></span>
              <span class="fa fa-eye  mt-5" (click)="goToDetails(media.id)"></span>
            </div>
            <div class="movie-title">{{media.original_title || media.original_name}}</div>
          </div>
        </div>
      </div>
      }
    </div>

    <div class="paging my-4">
      <mat-paginator [length]="200" pageSize="20" (page)="onPageChange($event)">
      </mat-paginator>
    </div>
  </div>
</section>